<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iPhoneBrowser.itouchBrowser.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iPhoneBrowser.itouchBrowser.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <iPhoneBrowser.itouchBrowser.My.MySettings>
            <setting name="ConfirmDeletions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SummerboardPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PCToiPhonePNG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="iPhoneToPCPNG" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomizePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowPreviews" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoreThumbsFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IgnoreDSStoreFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGroups" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value>L:\iPodBackup</value>
            </setting>
            <setting name="Position" serializeAs="String">
                <value />
            </setting>
            <setting name="PosBackupFile" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DbPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoreCacheFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSongTitle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportDir" serializeAs="String">
                <value />
            </setting>
            <setting name="LastJailbroken" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QTLeftWidth" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="PosSSHCmd" serializeAs="String">
                <value />
            </setting>
            <setting name="SSHUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="SSHPasswd" serializeAs="String">
                <value />
            </setting>
            <setting name="SSHKeyPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SSHAddrAutoset" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SSHAuthType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastArchiveDir" serializeAs="String">
                <value>c:\</value>
            </setting>
        </iPhoneBrowser.itouchBrowser.My.MySettings>
    </userSettings>
    <applicationSettings>
        <iPhoneBrowser.itouchBrowser.My.MySettings>
            <setting name="HomepageURL" serializeAs="String">
                <value>http://itouchbrowser.googlecode.com/</value>
            </setting>
            <setting name="DownloadURL" serializeAs="String">
                <value>http://code.google.com/p/itouchbrowser/downloads/list</value>
            </setting>
            <setting name="ModHistoryURL" serializeAs="String">
                <value>http://code.google.com/p/itouchbrowser/wiki/ModificationHistory</value>
            </setting>
        </iPhoneBrowser.itouchBrowser.My.MySettings>
    </applicationSettings>
</configuration>
